[submodule "monte_carlo/intelisim"]
	path = monte_carlo/intelisim
	url = https://github.com/bsdillon/intelisim.git
	branch = main
[submodule "references/DahlgrenTest"]
	path = references/DahlgrenTest
	url = https://github.com/bsdillon/DahlgrenTest.git
	branch = master
[submodule "references/sourcecodediver"]
	path = references/sourcecodediver
	url = https://github.com/bsdillon/sourcecodediver.git
	branch = main
